* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #191919;
  color: #fff;
  min-height: 100dvh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 4rem;
  font-family: sans-serif;
  background: #292929;
  height: 8rem;
  padding: 1rem;
} header > img {
  height: 100%;
  image-rendering: pixelated;
}

main {
  padding: 1rem;
  display: flex;
  width: 100%;
  flex-grow: 1;
  max-width: 64rem;
  margin-inline: auto;
  justify-content: flex-start;
  gap: 1rem;
}

canvas {
  display: block;
  width: 100%;
  flex-grow: 1;
}

footer {
  display: flex;
  background: #292929;
  height: 8rem;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-underline-offset: 2px;
}