body {
    background-color: darkgray;
}

#background {
    overflow: hidden;
    margin-left: 25%;
    padding-left: 2%;
    padding-right: 2%;
    width: 46%;
    height: 110%;
    background-color: dimgray;
}

.option {
    margin-top: 10px;
    width: 100%;
    height: 10%;
    background-color: darkslategray;
    border-radius: 15px;
    position: relative;
}


/*toggle button*/
.toggle-wrap {
    position: relative;
    background-color: black;
    display: inline-block;
    margin-left: 85%;
    cursor: pointer;
    width: 10%;
    height: 20%;
    border-radius: 25px;
}
    /*hide the checkbox*/
    .toggle-wrap input {
        width: 0;
        height: 0;
        opacity: 0;
    }
/*actual bar, with anim*/
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 100%;
    background-color: #FFAE00;
    border-radius: 25px;
    -webkit-transition: width .4s;
    transition: width .4s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}
/*what happens on press*/
input:checked + .toggle {
    width: 100%;
}




.extra-text{
    position:absolute;
    top: 20%;
    left: 25px;
}

.slider {
    background: linear-gradient(to right, #FFAE00 0%, #FFAE00 50%, #000 50%, #000 100%);
    border: none;
    border-radius: 8px;
    height: 7px;
    width: 10%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
    .slider::-webkit-slider-thumb {
        opacity:0;
    }

    .slider::-moz-range-thumb {
        opacity:0;
    }

    /*progress bar*/
#progress-bar {
    display: inline-block;
    background-color: black;
    border-radius: 13px;
    margin-left: 5%;
    padding: 3px;
    width: 80%;
    height: 10px;
}
#progress-bar > div{
    background-color:orangered;
    width:100%;
    height: 10px;
    border-radius:10px;
}
#info > label{
    display:inline-block;
    width:10%;

}