html { scroll-behavior: smooth; }
body {
  --background: #ffffff;
  --text: #000000;
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.5s, color 0.5s;
}
body.dark {
  --background: #121212;
  --text: #ffffff;
}
body.main.light     { --background: #ffffff; --primary: #009028; --idle: #ffffff; --active: #009028; }
body.main.dark      { --background: #111C14; --primary: #202B23; --idle: #202B23; --active: #009028; }
body.artibus.light  { --background: #ffffff; --primary: #ff6c13; --idle: #ffffff; --active: #ff6c13; }
body.artibus.dark   { --background: #251912; --primary: #342821; --idle: #342821; --active: #ff6c13; }
body.caelesti.light { --background: #ffffff; --primary: #dd4264; --idle: #ffffff; --active: #dd4264; }
body.caelesti.dark  { --background: #221619; --primary: #312528; --idle: #312528; --active: #dd4264; }

.dark-toggle {
  width: 2em; height: 2em;
  margin: 16px;
  font-size: 2em;
  position: fixed;
  bottom: 0; right: 0;
  z-index: 2;
  color: var(--text);
  background-color: var(--idle);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
} .dark-toggle:hover {
  color: var(--active);
  background-color: var(--text);
}

.shadow {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

header {
  background-color: var(--primary);
  z-index: 1;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  -webkit-position: sticky;
  position: sticky;
  top: calc(-75vh + 40px);
  /* transition: background-color 0.5s, color 0.5s; */
} header .fade {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  transition: background-color 0.5s;
} footer {
  background-color: var(--primary);
  transition: background-color 0.5s, color 0.5s;
}

.nav {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--background);
  position: relative;
  -webkit-backface-visibility: hidden;
  top: calc(75vh - 20px);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--idle);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.button {
  --width: 100%;
  --time: 0.7s;
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
} .button text {
  position: relative;
  color: var(--text);
  transition: color 0.5s;
} .button span {
  background-color: var(--active);
  --width: 50%;
  top: 50%; left: 50%;
  opacity: 0;
  position: absolute;
  display: block;
  width: 0;	height: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0s var(--time), width var(--time), padding-top var(--time);
}
.button:first-child span { left: 100%; --width: 100%; }
.button:last-child span  { left: 000%; --width: 100%; }

.button:hover text {
  color: #ffffff;
} .button:hover span {
  opacity: 1;
  width: calc(var(--width) * 2.25);
  padding-top: calc(var(--width) * 2.25);
  transition: opacity 0s, width var(--time), padding-top var(--time);
}

ul { list-style: none;}
ul li::before {
  content: "\2022";
  color: var(--text);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transition: color 0.5s;
}
ul.features .fix { color: #ff0000; }
ul.features .new { color: #ff6400; }
ul.features .dev {
  padding: 0 4px;
  margin: 4px;
  display: block;
  color: #00ff00;
  box-shadow: 0 0 4px 4px #000000;
  background: #000000;
}
.version { font-size: 1.25em; }
.version * { margin-right: 0.5em; }
.version i { opacity: 0%; transition: opacity 0.35s; }
.version:hover i { opacity: 100%; }

a.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--text);
  overflow: auto;
  border-radius: 4px;
  padding: 2em;
  clear: both;
  width: 100%;
  margin: 2% 0;
  transition: background-color 0.5s, color 0.5s;
} a.card img {
  align-self: center;
  width: 75%;
  max-width: 32em;
  padding: 2%;
  image-rendering: pixelated;
  filter: drop-shadow(0 0 16px #ffffff32) drop-shadow(0 0 4px #ffffff64);
} a.card text {
  color: var(--text);
  padding: 2% 2% 2% 4%;
  transition: color 0.5s;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
} .social {
  margin-left: 12px;
  margin-right: 12px;
}
